
html, body {
  background-color: #000;
  font-family: "Montserrat", "sans-serif";
}

#hero-image {
  height: 950px; 
  width: 100%;
  background-color: #444;
  background-image: url('images/realmountains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  position: relative;
}

#hero-image::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}

#introduction h1{
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0px;
  font-size: 3.7em;
  color: #2f3f4f;
  padding-top: 10px;


}

#introduction h3{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8em;
  color: #2f3f4f;
}

#intro_border{
  position: relative;
  text-align: center;
  border: 3px solid #2f3f4f;
  padding: 10px 25px;
  margin-top: 270px;  /*height from top */
  margin-left:auto;
  margin-right:auto;
  width: 390px;
  display:block
}

#scroll_down{
  margin-top: 360px;
  text-align: center;
}

#mission-image{
  height: 260px;
  width: 100%;
  background-color: #FFF;
  position: absolute;
}

#mission_header{
  width: 170px;
  margin-left: 240px;
  margin-top: 50px;
}

#mission{
  margin-left: 240px;
  margin-top: 18px;
  color: #6a6a6a;
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  width: 800px;
}


#project_title-image{
  height: 200px;
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 260px;
  position: absolute;
}
#project_title_header{
  margin-top: 30px;
  width: 185px;
  margin-left: 240px; 
}


#project_title{
  margin-left: 240px;
  margin-top: 18px;
  color: #6a6a6a;
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  width: 850px;
}




#project-image{
  height: 630px;
  margin-top: 460px; /* 260 + 200 */
  width: 100%;
  background-color: #344857;
  position: absolute;
}

#tech_skills-image{
  height: 200px;
  margin-top: 1090px; /* 630 + 260 + 200 */
  width: 100%;
  background-color: #f2f2f2;
  position: absolute;
}
#tech_skills-image2{
  height: 450px;
  margin-top: 1290px; /* 200 + 630 + 260 + 200 */
  width: 100%;
  background-color: #344857;
  position: absolute;
}

#aboutme{
  height: 550px;
  margin-top: 1290px; /*  + 200 + 630 + 260 + 200 */
  width: 100%;
  background-color: #344857;
  position: absolute;
}

#contact{
  height: 650px;
  margin-top: 1840px; /* 550 + 450 200 + 630 + 260 + 200 */
  width: 100%;
  background-color: #ffffff;
  position: absolute;
}

#left-arrow{
  margin-top: 250px;
  /*margin-left: -830px; */
  position: absolute;
}

#right-arrow{
  margin-top: 250px;
  /*margin-left: 480px; */
  position: absolute;
}

.carousel-control.left, .carousel-control.right {
 background-image:none !important;
 filter:none !important;
}

.carousel-indicators {
  bottom:-30px;
}

.carousel-inner {
 margin-bottom:50px;
}

.left_half {
  width: 48.75%;
  float: left;
  margin-right: 2.5%;
  margin-top:20px;
}


#myCarousel .item .left_half img {
  margin-left: 180px;
  display: inline-block;
  width: 80%;
  box-shadow: 3px 3px 5px 5px rgba(52,73,94,0.4);
}

#hps{
 margin-top: 60px !important; 
 margin-bottom: 60px !important; 
}

#laptop{
  margin-top: 40px !important; /* you can use % */
}

#ball{
  margin-top: 95px !important; /* you can use % */
}


#saylii1{
  width:320px !important; /* you can use % */
  height: auto !important;

}

#saylii2{
  width:320px !important; /* you can use % */
  height: auto !important;
  margin-left: -10px !important; 

}

.right_half {
  width: 48.75%;
  float: right;
}

.right_half h2{
  color: #fff;
  font-size: 1.40em;
  border: 3px solid #fff;
  width: 255px;
  margin-top: 60px;

}

.right_half h3{
  color: #fff;
  font-size: .9em;
  opacity: 0.75;
  display: inline-block;
  border: 3px solid #fff;
  width: 150px;
  margin-left: 300px;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 0.5px;

}
.right_half h3:hover{
  color: #344857;
  opacity: 0.75;
  background:#fff;
  font-size: .9em;
  display: inline-block;
  border: 3px solid #fff;
  width: 150px;
  margin-left: 300px;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 0.5px;

}
.right_half p{
 color: #fff;
 font-size: 17px;
 font-family: 'Karla', sans-serif;

 opacity: 0.90;
 width: 500px;


}

.section_header {
  text-transform: uppercase;
  font-size: 1.15em;
  letter-spacing: 0.5px;
  color: #34495e;
  border: 3px solid #34495e;
  padding: 10px 25px;
  display: block;
}

.center{
  margin: auto;
  width: 200px;
}
#skills_header{
  margin-top: 30px;
  width: 255px;
  margin-left: 240px; 
}

#skills{
  margin-left: 240px;
  margin-top: 18px;
  color: #6a6a6a;
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  width: 900px;
}

#about_me{
  margin-left: 470px;
  margin-top: 40px;
  color: #ffffff;
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  width: 900px;
}

#tech_skills_header{
  padding: 25px 40px;
  margin-top: 140px;
  width: 360px;
  margin-left: 120px;
  border: 3px solid #ffffff; 
  color: #ffffff;
  font-weight: 400;
  font-size: 26px;
}

#tech_skills{
  margin-left: 200px;
  margin-top: 18px;
  color: #ffffff;
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  width: 900px;
}

#about_me_header{
  margin-top: 30px;
  width: 170px;
  margin-left: 240px; 
  color: #ffffff;
  border: 3px solid #ffffff;
}

#get_in_touch_header{
  width: 250px;
  margin: auto; 
  margin-top: 50px;
  font-weight: 400;
  font-size: 1.8em;
}

#get_in_touch{
  margin-top: 50px;
  color: #34495e;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
}

#profile{
  width: 300px;
  height: auto;
  margin-left: 140px;
  margin-top: 40px;
}

#name_input{
 width: 80%;
 margin-left: 20%;
 margin-top: 25px;
}

#email_input{
 width: 80%;
 margin-top: 25px;
}

#text_input {
 margin-left: 10%;
 margin-top: 25px;
 width: 80%;
 height: 100px;
}

.input{
  border-top: none;
  border-right: none;
  border-radius: 0px;
  font-size: 15px;
  box-shadow: none;
  border-left: 3px solid #34495e;
  border-bottom: 3px solid #34495e;
  outline-width: 0;
  padding: 6px 12px;

}


#submit{
  color: #34495e;
  font-size: 1.1em;
  display: inline-block;
  border: 3px solid #34495e;
  width: 130px;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display:block;
  margin: auto;
   margin-top: 30px;
}

#submit:hover{
  color: #fff;
  opacity: 1.00;
  background:#34495e;
  font-size: 1.1em;
  display: inline-block;
  border: 3px solid #34495e;
  width: 130px;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display:block;
  margin: auto;
    margin-top: 30px;
}

footer {
  margin-top: 110px;
}

footer::before {
  content: "";
  display: block;
  width: 80%;
  margin-bottom: 20px;
  border-top: 2px solid #dedede;
  margin-left: auto;
  margin-right: auto;
}

footer p {
  float: left;
  color: #999;
  letter-spacing: 0.3px;
  font-size: 12px;
  padding-bottom: 20px;
}

footer .social-media-icons {
  float: right;
}

footer .social-media-icons i {
  font-size: 34px;
  color: #999;
  transition: 0.5s ease-in-out;
}

footer .social-media-icons a {
  margin-right: 30px;
}

footer .social-media-icons a:nth-child(2):hover i {
  color: #3B5998;
}

footer .social-media-icons a:nth-child(3):hover i {
  color: #6e5494;
}

footer .social-media-icons a:nth-child(4):hover i {
  color: #79afc1;
}


footer .social-media-icons a:first-child:hover i {
  color: #4875B4;
}

footer .social-media-icons a:last-child i {
   margin-right: 170px;
}

/*
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
    box-shadow: 0px 0px 10px 0px #000;
   border-radius: 0 !important;
}
.bigger{
  font-size:18px;
}
.smaller-image{
   width:250px;
    height: auto;
  text-align:center;
  display:block;

}

.jumbotron{
  background-color:#B7C3F3;
  margin-right: 160px;
  padding-right: 80px;
  padding-left: 80px;
  margin-left: 160px;
  margin-top: -20px;
  box-shadow: 0px 0px 10px 0px #000;
}
#title{
  font-family:"Helvetica Neue", "sans-serif";
   font-weight: 300;
  font-size:26px;
}
#projects{
  font-family:"Helvetica Neue", "sans-serif";
   font-weight: 300;
  font-size:26px;
}
#email{
  padding-top:30px;
}
#contact{
  font-family:"Helvetica Neue", "sans-serif";
   font-weight: 300;
  font-size:26px;
}
*/
